* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    scroll-behavior: smooth;
}

body {
    background: url(../img/Bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(150px);
    color: #fff;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* navber */

header {
    position: sticky;
    top: 0;
    padding-bottom: 15px;
    z-index: 1000;
}

.logo {}

.logo a {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
    text-decoration: none
}

.logo a:hover {
    color: #3971B8;
}

nav {
    margin: 0 2rem;
}

.nav-wrapper {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 50px;
}

.menu li a {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
}

.menu li a:hover {
    color: #3971B8;
}

.menu li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    color: #3971B8;
    background-color: #3971B8;
    border-radius: 5px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.menu li a:hover::after {
    width: 100%;
}

/* section welcome */
.welcome {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.container-welcome {
    animation: fadein 2s ease-in-out;
}

.icons i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    padding: 1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.icons i:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px #0164e597;
    color: #0164e5;
}

.welcome-text h1 {
    cursor: pointer;
    margin-top: 1rem;
    font-size: 56px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #bbe924, #c5f19f, #dadecd);
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background-position 1s ease;
}

.welcome-text h1 span {
    background: linear-gradient(90deg, #0448a0, #ba7bf1, #3089e3);
    background-size: 200% 200%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background-position 1s ease;
}

.welcome-text h1:hover {
    background-position: 100% 50%;
}

.welcome-text h1:hover span {
    background-position: 100% 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* secton about me */
.aboutme {
    padding-top: 200px;
    margin: 80px 0;
    padding-bottom: 5rem;
}

.aboutme-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.aboutme-text {
    margin-top: 4.5rem;
}

.aboutme-text h1 {
    color: #fff;
    font-size: 46px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.aboutme-text p {
    color: #fff;
    line-height: 25px;
    cursor: pointer;
}

.aboutme-img {
    position: relative;
    display: inline-block;
    margin-bottom: 3rem;
    margin-right: 4rem;
    border-radius: 20px;
}

.aboutme-img img {
  width: 280px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  background: #111;
  position: relative;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.23);
  z-index: 1;
  display: block;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.aboutme-img img:hover {
  transform: rotate(3deg) scale(1.03);
  box-shadow: 0 12px 40px rgba(255, 255, 255, 0.1);
}

.aboutme-btn {
    display: flex;
    margin-top: 2rem;
}

.resume-btm a,
.projects-btn a {
    background-color: #3971B8;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(57, 113, 184, 0.3);
}

.resume-btm a:hover,
.projects-btn a:hover {
    background-color: #4c8be0; /* สีฟ้าอ่อนขึ้น */
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(57, 113, 184, 0.5);
}


/* ===== Skills Section ===== */
.skills {
    position: relative;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.section-Skills {
    text-align: left;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
}

.skill-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 180px;
    transition: all 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.skill-card img {
    width: 35px;
    height: 35px;
}

.skill-info h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.skill-info p {
    font-size: 0.9rem;
    color: #ccc;
}

/* Responsive */
@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}


/* ===== certificates Section ===== */
.certificates {
    position: relative;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.section-certificates {
    text-align: left;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}

.certificates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    width: 100%;
    max-width: 1300px;
    margin-bottom: 40px;
}

.certificates-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 250px;
    height: auto;
    transition: all 0.3s ease;
}

.certificates-card:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.certificates-card img {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.certificates-info h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.certificates-info p {
    font-size: 0.9rem;
    color: #ccc;
}

/* Responsive */
@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/* ===== Certificates Modal ===== */
.modal {
    display: none;
    /* ซ่อนก่อน */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* ดึงขึ้นมาเหนือทุกอย่าง */
}

.modal.show {
    display: flex;
}

.modal-content {
    max-width: 80%;
    max-height: 80vh;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    object-fit: contain;
    animation: zoomIn 0.25s ease;
}

.close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 10000;
}

.close:hover {
    color: #ff4b4b;
}

@keyframes zoomIn {
    from {
        transform: scale(0.85);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


/* ===== Experience Section ===== */
.experience {
    position: relative;
    margin-bottom: 5rem;
    color: #fff;
}

.section-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* โครงสร้าง timeline */
.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

/* เส้นตรงกลาง */
.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 0;
    background: #fff;
    transform: translateX(-50%);
    transition: height 1s ease-out;
}

/* แต่ละ item */
.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}

.timeline-item.left {
    left: 0;
    text-align: left;
}

.timeline-item.right {
    left: 50%;
    text-align: left;
}

.timeline-item .content {
    background: rgba(255, 255, 255, 0.093);
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    max-width: 85%;
}

.timeline-item h3 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #fff;
}

.timeline-item .date {
    display: block;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 8px;
}

.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}

/* จุดเชื่อม */
.timeline-item::before {
    content: "";
    position: absolute;
    top: 25px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
}

.timeline-item.left::before {
    right: -8px;
}

.timeline-item.right::before {
    left: -8px;
}

/* จุดสุดท้ายของเส้น timeline */
.timeline-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s ease;
    opacity: 0;
}

/* ให้จุดปรากฏเมื่อเส้นถูกวาดครบ */
.timeline-line.complete::after {
    opacity: 1;
}


/* Responsive */
@media (max-width: 768px) {
    .timeline-item {
        width: 100%;
        text-align: left !important;
        left: 0 !important;
        padding-left: 60px;
    }

    .timeline-line {
        left: 30px;
    }

    .timeline-item::before {
        left: 22px !important;
    }
}


/* section project */
.Projects {
    margin-top: 100px;
    padding: 50px 0;
}

.project-titel {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-top: 4rem;
    letter-spacing: 1px;
}

.project-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.project-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.project-card:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.project-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    /*     margin-bottom: 10px; */
}

.project-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


/* section Footer */
.footer {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.footer-bg {
    background: rgba(255, 255, 255, 0.093);
    border-radius: 40px;
    text-align: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.about-contact {
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: #fff;
}

.about-contact .footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.about-box {
    flex: 1;
    min-width: 350px;
}

.contact-box {
    flex: 1;
    min-width: 350px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 40px;
    backdrop-filter: blur(15px);
    padding: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.about-box h2 {
    margin-bottom: 20px;
    margin-top: 40px;
    color: #3971B8;
    font-size: 32px;
    text-align: left;
}

.contact-box h2 {
    color: #3971B8;
    font-size: 32px;
    margin-bottom: 20px;
}

.about-box p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
}

.abou-box-contact {
    text-align: justify;
    display: flex;
    gap: 10px;
}

.abou-box-contact i {
    font-size: 26px;
    margin-right: 7px;
}

.abou-box-contact a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.social {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.social span {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 6px;
    transition: all 0.3s ease;
}

.social:hover span {
    opacity: 1;
    width: auto;
    transform: translateX(3px);
}

.social:hover {
    color: #71aefd;
}

.social:hover i {
    transform: scale(1.2);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group label {
    text-align: left;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    outline: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #aaa;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #3971B8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.btn:hover {
    background: #2d5e9a;
    transform: scale(1.03);
}

@media (max-width: 900px) {
    .about-contact .container {
        flex-direction: column;
    }
}

.footer {
  -webkit-backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem 1rem;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #3971B8;
  text-shadow: 0 0 8px #3971B8;
}

.footer-social {
  margin-bottom: 1.5rem;
}

.footer-social a {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 10px;
  font-size: 1.3rem;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #3971B8;
  transform: translateY(-3px);
  text-shadow: 0 0 8px #3971B8;
}

.footer-copy {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

.footer-copy span {
  color: #3971B8;
  font-weight: 600;
}

.btn-outline {
    border-radius: 20px;
  background: transparent;
  border: 2px solid #fff;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.btn-outline:hover {
  background: #0078ff;
  color: #fff;
}
